---
import authorLogo from "@/assets/revkulogo.svg";
import noteLogo from "@/assets/notelogo.svg";
import { Github, Users } from "lucide-react";
import { Button } from "./ui/button";
---

<footer
    class="p-4 text-center flex flex-col gap-4 md:flex-row justify-around items-center mt-15 border-t"
>
    <div class="flex items-center gap-3">
        <Button variant="outline" client:only className="">
            <a
                href="https://github.com/Revku/note"
                target="_blank"
                class="flex gap-2"><Github /> GitHub</a
            >
        </Button>
        <Button variant="outline" client:only className="">
            <a
                href="https:/revku.dev/discord"
                target="_blank"
                class="flex gap-2"><Users /> Discord</a
            >
        </Button>
    </div>
    <p class="flex justify-center items-center gap-2">
        <span class="flex items-center gap-2 justify-center">
            Created by <a href="https://revku.dev/" target="_blank"
                ><img
                    src={authorLogo.src}
                    class="inline w-27"
                    alt="Revku logo"
                /></a
            >
        </span>
    </p>
</footer>
