---
import { ModeToggle } from "./ModeToggle";
---

<div class="border-b border-zinc-800 w-full py-3">
    <div class="w-full mx-auto max-w-250 flex justify-between items-center">
        <h1>Note</h1>
        <ModeToggle client:load />
    </div>
</div>
