---
import noteLogo from "@/assets/notelogo.svg";
import { NavigationActions } from "./NavigationActions";
---

<div class="border-b border-zinc-800 w-full">
    <div class="w-full mx-auto max-w-250 flex p-3 justify-between items-center">
        <a href="/">
            <img src={noteLogo.src} alt="Note Logo" class="h-4" />
        </a>
        <div>
            <NavigationActions client:only />
        </div>
    </div>
</div>
